node_modules/
.expo/
dist/
web-build/
.env
*.local

# Xcode
ios/
*.pbxproj

# Android
android/
*.keystore
!debug.keystore

# macOS
.DS_Store

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Editor
.vscode/
.idea/

*.orig.*
